.button:hover {
    background-color: var(--bg-hover-button);
}

.button:active {
    background-color: #283c82;
    transform: translateY(1px);
    color: var(--font-color-active);
    transform: scale(0.90);
}

.sos-button:hover{
    background-color: var(--bg-hover-sos-button);
}

.sos-button:active{
    background-color: var(--bg-active-sos-button)
}

.create-alert-button:hover{
    background-color: var(--bg-hover-cr-alert-button);
}

.create-alert-button:active{
    background-color: var(--bg-active-cr-alert-button)
}

.sub-button:hover{
    background-color: var(--bg-hover-sub-button);
}

.sub-button:active{
    background-color: var(--bg-active-sub-button)
}