:root{
    /* cores */
    --primary-color: #5E4EF5;
    --secondary-color: #4EA7F5;
    --third-color: #4E73F5;
    --font-color: #d0d0d0;
    --font-color-active: #b6b6a2;
    --bg-button: var(--third-color);
    --bg-hover-button: var(--third-color);
    --bg-sos-button:rgb(247, 61, 61);
    --bg-hover-sos-button:rgb(251, 109, 109);
    --bg-active-sos-button: rgb(98, 35, 35);
    --bg-cr-alert-button: rgb(49, 142, 49);
    --bg-hover-cr-alert-button: rgb(59, 220, 59);
    --bg-active-cr-alert-button: rgb(34, 96, 34);
    --bg-sub-button:rgb(173, 172, 172);
    --bg-hover-sub-button:rgb(127, 127, 127);
    --bg-active-sub-button: rgb(73, 73, 73);
    --bg-card: #ffffff;
    --bg-search-bar: #f9f9f9;
    --bg-quiz : #EEE1E1;
    --bg-line: black;
    /* Variaveis */
    --border-radius: 8px;
    --margin-form: 16px 0px;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

html, body{
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

main{
    display: block;
    /* margin: 3% 0; */
    /* padding: 2% 15%; */
}

span{
    font-weight: lighter;
    font-size: 12px;
}

img{
    border-radius: var(--border-radius);
}

footer{
    background-color: #323232;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: var(--bg-line);
}

.menu-bar-mobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow:  var(--box-shadow);
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-bar button{
    margin: 0px 30px;
}

.button-icon{
    background-color: white;
    width: min-content;
    height: min-content;
    border: none;
}

.menu-top-bar{
    display: flex;
    position: fixed;
    width: auto;
    height: 100vh;
    pointer-events: none;
    top: 0;
    left: -200px;
    transition: all 0.4s ease-out;
}

.list-menu{
    background-color: white;
    border: 1px solid var(--font-color);
    display: block;
    width: 150px;
    height: auto;
    border-radius: 0px 12px 12px 0px;
    padding: 12px;
    box-shadow:  var(--box-shadow);
}

.glass-container{
    display: none;
    width: 100%;
    height: 100vh;
}

.button {
    background-color: var(--bg-button);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 35px;
    margin: 12px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 50px;
    box-shadow:  var(--box-shadow);
}

.sub-button{
    background-color: var(--bg-sub-button);
}


.sos-button{
    background-color: var(--bg-sos-button);
}

.create-alert-button{
    background-color: var(--bg-cr-alert-button);
}

.search-bar{
    background-color: var(--bg-search-bar);
    border: solid 1px rgb(48, 47, 47);
    width: 300px;
    height: 25px;
    padding: 8px 12px;
    margin: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-menu{
    display: none;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 40px;
    width:120px;
    box-shadow:  var(--box-shadow);
    padding: 3px 10px 10px 3px;
    border-radius: 4px;
    transform: all 2s ease-out;
}

.theme-button-list{
    padding: 0;
    margin: 0;
}

.theme-button-list ul, li{
    list-style: none;
}

.radio-theme-button{
    width: 100%;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    padding: 10px;
    margin: 3px;
    border-radius: var(--border-radius);
    transition: all 0.4s ease-out;
}

.radio-theme-button[disabled]{
    background-color: var(--bg-button);
    color: white;
}

.search-bar input[type="text"] {
    height: 100%;
    width: 100%;
    background-color: var(--bg-search-bar);
    border: none;

}

.search-bar input[type="text"]:focus {
    border: 1px dotted black;
}

.search-icon{
    margin: 0px 10px;
}

.damage-card{
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:  var(--box-shadow);
    border-radius: var(--border-radius);
}

.damage-card h3, p{
    margin: 0;
}

.type-alert{
    background-color: var(--bg-card);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

.card-donation {
    background-color: var(--bg-card);
    width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.donation-card-link {
    text-decoration: none;
    color: inherit;
}

.donation-money {
    padding: 8px;
}

.donation-money img{
    border-radius: var(--border-radius);
    padding: 4px;
}

.donation-money h1, h2, h3{
    font-weight: bold;
    margin: 8px 0px;
}

.donation-hero h4{
    color: green;
    font-weight: lighter;
    margin: 8px 0px;
}

.donation-bar {
    height: 10px;
    border-radius: 5px;
    margin: 8px 0;
    background-color: #ccc;
    position: relative;
}
/* mudar isso depois */
.bg-green::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%; /* Exemplo de 50% de progresso */
    background-color: green;
    border-radius: 5px;
}

.bg-red{
    background-color: rgb(169, 56, 56);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* landing page */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/imgs/hero-bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 92.5vh;
    color: white;
}

.flex-container-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.hero-main-container{
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-text-hero{
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text-hero h2{
    width: 1250px;
    text-align: center;
}

.blue-glass-container{
    background: rgba(74, 158, 233, 0.7);
    padding: 10px;
    margin: 0px 25px;
    border-radius: var(--border-radius);
}

.container-text-hero .button{
    width: 250px;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.container-text p, h2{
    width: 540px;
}

.tecnologias-container{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}

.tecnologias-container h2{
    text-align: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    color: black;
    padding: 20px;
    gap: 40px;
    margin: 20px;
    border-radius: var(--border-radius);
    box-shadow:  var(--box-shadow);
}

.card-text-container{
    display: block;
    width: 250px;
}

.tecnologias-container span{
    font-weight: thin;
    font-size: 0.8rem;
}

.objetivos-container{
    margin: 75px 0px;
    padding: 0px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.objetivos-container h2{
    width: auto;
    text-align: center;
}

.card-objetive{
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 20px 50px;
}

.card-objetive p{
    width: auto;
}

.num-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid black;
}

.circle{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid black;
    text-align: center;
    margin: 5px;
}

.circle h3{
    margin: 0;
    padding: 0;
}

.bg-third-color{
    background-color: #4E73F5;
    color: white;
}

.container-beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(); */
}

.container-beneficios{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.card-beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    width: 350px;
    margin: 40px;
    padding: 20px;
    color: white;
}

.header-beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-beneficios h3{
    font-size: 24px;
    font-weight: bolder;
}

.card-beneficios p, h3{
    margin-bottom: 20px;
}

.beneficios-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 4px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 100%;
}

.container-publico-alvo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
}

.container-publico-alvo h2{
    margin: 18px 0px;
    text-align: center;
}

.publico-alvo-text{
    width: 540px;
    margin: 0px 40px;
}

.list-publico-alvo{
    margin-bottom: 35px;
}

.titulo-alvo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.titulo-alvo h3{
    margin: 0;
    padding: 0;
}

.border-container{
    width: 3px;
    height: 20px;
    background-color: #5E4EF5;
    margin-right: 10px;
}

/* quiz.html */
.container-quiz-header{
    display: block;
    padding: 12px;
    margin: var(--margin-form);
    background-color: var(--bg-card);
    border-top:var(--third-color) 10px solid;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-quiz{
    display: block;
    margin: 35px 0;
}

.container-question{
    display: block;
    padding: 12px;
    margin: var(--margin-form);
    background-color: var(--bg-card);
    border-top:var(--secondary-color) 10px solid;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-quiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
}