:root{
    /* cores */
    --primary-color: #5E4EF5;
    --secondary-color: #4EA7F5;
    --third-color: #4E73F5;
    --font-color: #d0d0d0;
    --font-color-active: #b6b6a2;
    --bg-button: var(--third-color);
    --bg-hover-button: var(--third-color);
    --bg-sos-button:rgb(247, 61, 61);
    --bg-hover-sos-button:rgb(251, 109, 109);
    --bg-active-sos-button: rgb(98, 35, 35);
    --bg-cr-alert-button: rgb(49, 142, 49);
    --bg-hover-cr-alert-button: rgb(59, 220, 59);
    --bg-active-cr-alert-button: rgb(34, 96, 34);
    --bg-search-bar: whitesmoke;

    /* Variaveis */
    --border-radius: 8px;
}

.button {
    background-color: var(--bg-button);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 35px;
    margin: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 50px;
}

.sos-button{
    background-color: var(--bg-sos-button);
}

.create-alert-button{
    background-color: var(--bg-cr-alert-button);
}

.search-bar{
    background-color: var(--bg-search-bar);
    border: solid 1px rgb(48, 47, 47);
    width: 300px;
    height: 25px;
    padding: 8px 12px;
    margin: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input[type="text"] {
    height: 100%;
    width: 100%;
    background-color: var(--bg-search-bar);
    border: none;

}

.search-bar input[type="text"]:focus {
    border: 1px dotted black;
}

.search-icon{
    margin: 0px 10px;
}

.damage-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(123, 113, 113);
    border-radius: 8px;
}

.card-donantion{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}